{% extends 'form/base.html' %}
{% block title %} Información Artesano {% endblock %}
{% block css %}
<link 
    rel="stylesheet" 
    type="text/css"
    href="{{ url_for('static', filename='css/lista.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <table class="centered-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Comuna</th>
                <th>Deportes</th>
                <th>Modo Transporte</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        {% if data_hinchas %}
            {% for hincha in data_hinchas %}
            <tbody>
                <tr>
                    <td><a href="{{ url_for('hincha_unico', id=hincha.id) }}">{{hincha.nombre}}</a></td>
                    <td><a href="{{ url_for('hincha_unico', id=hincha.id) }}">{{hincha.comuna}}</a></td>
                    <td><a href="{{ url_for('hincha_unico', id=hincha.id) }}">{{hincha.deportes}}</a></td>
                    <td><a href="{{ url_for('hincha_unico', id=hincha.id) }}">{{hincha.transporte}}</a></td>
                    <td><a href="{{ url_for('hincha_unico', id=hincha.id) }}">{{hincha.telefono}}</a></td>
                </tr>
            </tbody>
            {% endfor %}
        {% endif %}
    </table>

    {% if data_hinchas %}
        <div class="pagination">
            [Página {{ pagina }} de {{ total_paginas }}]
            {% if pagina > 1 %}
                <br>
                <a id="anterior" href="{{ url_for('ver_hinchas', pagina=pagina-1) }}">Anterior</a>
            {% endif %}
            
            {% set total_paginas = total_paginas %}
            
            {% if pagina < total_paginas %}
                <br>
                <a id="siguiente" href="{{ url_for('ver_hinchas', pagina=pagina+1) }}">Siguiente</a>
            {% endif %}
        </div>
    {% endif %}

</div>
{% endblock %}
{% block javascript %}
{% endblock %}




