{% extends 'auth/base.html' %}
{% block title %} Juegos Panamericanos {% endblock %}
{% block css %}
<link 
    rel="stylesheet" 
    type="text/css"
    href="{{ url_for('static', filename='css/index.css') }}">
<link 
    rel="stylesheet" 
    type="text/css"
    href="{{ url_for('static', filename='css/modal.css') }}">

{% endblock %}
{% block content %}
<header>
    <h1>Juegos Panamericanos</h1>
    <nav>
        <ul id="links-nav">
            <li><a class="navbar-page" href="{{ url_for('hincha_register') }}">Registrar Hincha</a></li>
            <li><a class="navbar-page" href="{{ url_for('art_register') }}">Registrar Artesano</a></li>
            <li><a class="navbar-page" href="{{ url_for('ver_hinchas')}}">Ver listado de hinchas</a></li>
            <li><a class="navbar-page" href="{{url_for('ver_artesanos')}}">Ver listado de artesanos</a></li>
            <li><a class="navbar-page" href="{{url_for('stats')}}">Estadisticas</a></li>
        </ul>
    </nav>
</header>

{%if msg%}
    <div class="modal" id="myModal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <p>{{ msg }}</p>
        </div>
    </div>
{% endif %}

<img src="{{url_for('static', filename='uploads/index_wall.jpg')}}" alt="imagen de fondo">
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}