{% extends 'stats/base.html' %}
{% block title %} Información Artesano {% endblock %}

{% block css %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/stats.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="container_artesanos"></div>
    <div id="container_hinchas"></div>
</div>
{% endblock content %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{{url_for('static', filename='js/stats.js')}}"></script>
{% endblock %}